server_name=Bantha_Invitational
welcome_message=Test
password=Shoes
max_players=24
steam_port=27015
game_port=33540
query_port=27016
exclude_from_quickplay=0
clear_users=0
owner_disabled=0
admin_control=1
lobby_countdown=30
ready_players_required=50
session_mode=24p-lin
grid_order=cup_reverse
enable_track_vote=0
disable_idle_kick=0
track=rt01_1
gamemode=racing
bots=24
ai_difficulty=expert
num_teams=2
laps=5
time_limit=5
elimination_interval=0
vehicle_damage=normal
car_class_restriction=
car_restriction=
special_vehicles_disabled=0
car_reset_disabled=0
car_reset_delay=5
wrong_way_limiter_disabled=0
weather=
frequency=high
log=log.txt

# Event Loop (el) settings
#-------------------------------------------------------------------------------

## Add first event to Loop
el_add=gravel1_main_loop
el_gamemode=racing
#el_laps=3
#el_bots=3
#el_car_reset_disabled=0
#el_wrong_way_limiter_disabled=0
#el_car_class_restriction=a
#el_car_restriction=
#el_weather=

el_add=rt01_1
el_gamemode=racing
el_laps=1
el_car_reset_delay=3

## Add second event to Loop
el_add=tarmac1_main_circuit
el_gamemode=racing
#el_num_teams=2
#el_laps=3
#el_bots=3
#el_car_reset_disabled=0
#el_wrong_way_limiter_disabled=0
#el_car_class_restriction=a
#el_car_restriction=
#el_weather=

el_add=tarmac3_main_circuit
el_gamemode=racing
el_laps=5

el_add=urban06
el_gamemode=racing

el_add=tarmac3_main_circuit
el_gamemode=racing