server_name=Bantha_Invitational
welcome_message=Test
password=Shoes
max_players=24
steam_port=27015
game_port=33540
query_port=27016
exclude_from_quickplay=0
clear_users=0
owner_disabled=0
admin_control=1
lobby_countdown=30
ready_players_required=50
session_mode=24p-lin
grid_order=cup_reverse
enable_track_vote=0
disable_idle_kick=0
track=rt01_1
gamemode=racing
bots=24
ai_difficulty=expert
num_teams=2
laps=5
time_limit=5
elimination_interval=0
vehicle_damage=normal
car_class_restriction=
car_restriction=
special_vehicles_disabled=0
car_reset_disabled=0
car_reset_delay=5
wrong_way_limiter_disabled=0
weather=
frequency=high
log=log.txt

#Race 1
#Big Valley Speedway Outer Oval Loop
el_add=speedway2_oval_loop
el_gamemode=racing

